/* start common styles */
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', Trebuchet, Verdana, sans-serif;
    /* font-family: 'Alegreya', serif; */
}

* {
    margin: 0;
    padding: 0;
}

.centered-content {
    display: grid;
    place-items: center;
    /* shorthand to center both horizontally and vertically */
    text-align: center;
    /* center inline elements or text */
}

/* end common styles */

.container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

/* start header */
header {
    color: black;
    padding: 16px;
}

.topic-name {
    font-size: 3.45rem;
    font-weight: 400;
    text-shadow: rgba(0, 0, 0, 0.2);
}

.topic-desc {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* start tabs */
.tabs {
    display: grid;
    grid-template-columns: repeat(auto-fit, 14rem);
    column-gap: 2rem;
    row-gap: 2rem;
    grid-auto-rows: 2.6rem;
}

.tab {
    background-color: rgb(34, 136, 187);
    color: white;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    border-radius: 1rem;
    text-decoration: none;
}

/* end tabs */
/* end header */

/* start news items */
.date {
    background-color: rgb(187, 187, 187);
    color: white;
    font-size: 2rem;
    justify-self: start;
    padding: 1rem;
}

.news-item {
    border-bottom: 1px solid #ddd;
    overflow-wrap: break-word;
}

.news-title {
    padding-left: 1rem;
}

.news-item a {
    color: rgb(51, 170, 255);
    font-size: 2.5rem;
    text-decoration: none;
}

.news-publisher {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #888888;
    padding-left: 1rem;
}

.news-item a:visited {
    color: #888888;
    text-decoration: none;
}

/* start social menu */
.social-menu {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    justify-items: center;
    margin-bottom: 1rem;
}

.social-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fb {
    background-image: url('https://d2gu2cv4izgboy.cloudfront.net/images/social/facebook.png');
}

.twitter {
    background-image: url('https://d2gu2cv4izgboy.cloudfront.net/images/social/twitter.png');
}

.linkedin {
    background-image: url('https://d2gu2cv4izgboy.cloudfront.net/images/social/linkedin.png');
}

.email {
    background-image: url('https://d2gu2cv4izgboy.cloudfront.net/images/social/email.png');
}

/* end social menu*/
/* end news items */

/* start footer */
footer {
    display: grid;
    grid-template-columns: 1fr repeat(3, max-content) 1fr;
    justify-content: space-between;
    grid-template-rows: auto auto auto;
    row-gap: 2rem;
    column-gap: 3rem;
    align-items: center;
}

.prev {
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
    width: 7rem;
}

.home {
    grid-column: 3/ span 1;
    width: 7rem;
    grid-row: 1/ span 1;
}

.next {
    grid-column: 4/span 1;
    grid-row: 1/2;
    width: 7rem;
}

footer .tab {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer .contact {
    width: 7rem;
    grid-column: 3 / span 1;
    grid-row: 2/3;
}

footer div a {
    color: white;
    text-decoration: none;
    display: block;
}

/* end footer */
@media(max-width: 450px) {

    .prev,
    .next {
        width: 5rem;
    }

}

@media(max-width: 400px) {

    .social-menu,
    .news-title {
        width: 90%;
    }

    .next {
        width: 3.5rem;
    }

    footer .prev {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    footer {
        transform: translateX(-1rem);
    }

    .news-item {
        transform: translateX(1rem);
    }
}